@using Kanban.Presentation.ViewModels.ViewComponent

@model PrettyProfileViewModel

<span class="thumb-@(Model.Size) justify-content-center d-flex align-items-center bg-soft-success rounded-circle me-2">
    @Model.FullNameFirstLetter
</span>


