@using Kanban.Presentation.ViewModels.Organisation

@model AddMemberToOrganisationViewModel

@{
    ViewData["Title"] = "Oranisations";
}

@section plugin_styles{
    <link href="~/admin/assets/plugins/select/selectr.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}

@await Component.InvokeAsync("ActionResultMessage")

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="organisation" asp-action="index">Organisation</a>
                    </li>
                    <li class="breadcrumb-item active">Add member</li>
                </ol>
            </div>
            <h4 class="page-title">Add member to Organisation</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>


@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["message_type"]">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" asp-controller="organisaton-add-member" id="form-edit">
                    <input type="hidden" asp-for="OrganisationId" />
                    <input type="hidden" asp-for="OrganisationName" />
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback" style="display:block"></div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="OrganisationName"></label>
                                <input class="form-control" asp-for="OrganisationName" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Email"></label>
                                <input class="form-control" asp-for="Email">
                                <span asp-validation-for="Email" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="FullName"></label>
                                <input class="form-control" asp-for="FullName">
                                <span asp-validation-for="FullName" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Password"></label>
                                <input class="form-control" asp-for="Password">
                                <span asp-validation-for="Password" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="ConfirmPassword"></label>
                                <input class="form-control" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit" form="form-edit">Save</button>
                    <a asp-route="organisation-index" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section plugin_scripts{
<!-- Plugins js -->
<script src="~/client/assets/plugins/select/selectr.min.js" asp-append-version="true"></script>
}

